body {
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hsl(45, 86%, 62%), #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;    
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    background-color: blanck;
    color: white;
}

nav {
    color: white;
    padding: 20px;
    margin: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: #666;
}

main {
    padding: 20px;
}

section.products ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

section.products li {
    /* Esto crea un cuadro en cada seccion */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    flex-basis: calc(19% - 15px);
    text-align: center;
}

section.products li img {
    width: 100%;
    height: auto;
}

section.products li h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

section.products li p {
    margin: 0;
}

section.products li button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

section.products li button:hover {
    background-color: white;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: none;
}

nav {
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    /* Opciones: row (horizontal), column (vertical) */
    justify-content: space-between;
    /* Ajusta la alineación horizontal */
    align-items: center;
    /* Ajusta la alineación vertical */
}

.flex-item {
    /* Estilos de los elementos internos */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-title {
    flex: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

.logo {
    width: 100px;
    /* Ancho del logo */
    height: 100px;
    /* Altura del logo */
    /* Otros estilos que desees aplicar */
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about-content {
    flex: 1;
}

.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-content p {
    margin-bottom: 15px;
    line-height: 1.5;
}